@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@100..900&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto Slab", sans-serif;
    line-height: 1.5;
    background-color: #0f0a0f;
    font-weight: 400;
}

img, svg, video{
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
    text-wrap: balance;
}

p{
    max-width: 75ch;
    text-wrap: pretty;
}

.grida{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    place-content: center;
}

.card-shadow{
    box-shadow: -1rem -1rem 0 0 rgb(216, 34, 70)
}

.card-shadow:nth-child(2n){
    box-shadow: -1rem -1rem 0 0 rgb(230, 144, 5)
}


